<h1 class="title">{{this.method}} Video Game</h1>

<form >
    <input placeholder="Title" name="title" #title="ngModel" [(ngModel)]="videoGame!.title" type="text">
    <input  placeholder="BackGround" name="backGround" #backGround="ngModel" [(ngModel)]="videoGame!.backGround" type="text">
    <input  placeholder="Year" name="year" #year="ngModel" [(ngModel)]="videoGame!.year" type="number">
    <input  placeholder="Price" name="price" #price="ngModel" [(ngModel)]="videoGame!.price" type="number">
    <select [(ngModel)]="videoGame!.type" name="type">
      <option value="Ps1">Ps1</option>
      <option value="Ps2">Ps2</option>
      <option value="Ps3">Ps3</option>
    </select>
    <button (click)="Operation()" type="submit" >{{this.method}} Game</button>
  </form>
