<h3>Test Api</h3>
<!-- <table>
  <thead>
    <th>ID</th>
    <th>Name</th>
    <th>phone</th>
    <th>Mail</th>
    <th>Website</th>
  </thead>
  <tbody>
    <tr *ngFor="let user of Users">
      <td>{{user.id}}</td>
      <td>{{user.name}}</td>
      <td>{{user.phone}}</td>
      <td>{{user.email}}</td>
      <td>{{user.website}}</td>
    </tr>
  </tbody>
</table> -->

<table>
  <thead>
    <th>ID</th>
    <th>Name</th>
    <th>capacity</th>
    <th>usage</th>
  </thead>
  <tbody>
    <tr *ngFor="let hotel of Hotels">
      <td>{{hotel.hotelID}}</td>
      <td>{{hotel.hotelName}}</td>
      <td>{{hotel.capacity}}</td>
      <td>{{hotel.usage}}</td>
    </tr>
  </tbody>
</table>
