html,
body {
  height: 100%;
}

:root {
  --main-color: white;
  --main-background:linear-gradient(to right, #fc4a1a, #f7b733);
}

* {
  font-family: Bangers;
}

app-content .title_page {
  color: var(--Basic-Color);
  text-align: center;

}
